.App {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #5687a813, #5687a8);
  overflow: hidden;
}

.main {
  display: flex;
}

.nav {
  height: 7%;
  width: 100vw;
  top: 0;
  position: fixed;
  background-color: #5687a8;
  z-index: 1;
}

.container {
  width: 50vw;
  margin-top: 4%;
  margin-bottom: 10%;
  margin-left:auto;
  margin-right: .5%;
}

.generator {
  background: #3f3f3f;
  border-radius: 7px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.753);
  padding: 20px;
  height: 70vh;
}

.generator__header {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.generator__password {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  line-height: 2.5;
  padding-left: 8px;
  color: #fff;
  height: 46px;
  margin-bottom: 20px;
  text-align: center;
}

.copy__btn {
  position: absolute;
  background: #5687a8;
  color: #fff;
  border: none;
  height: 100%;
  width: 11%;
  cursor: pointer;
  top: 0;
  right: 0;
}

.generator__btn {
  background: #5687a8;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 7px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}


#password-strength {
  width: 20%;
  color:#5687a8;
}

.savedPasswords {
  display: flex;
  margin-top: 150px;
}

.add {
  margin-top: 20px;
}

.addBtn {
  margin-left: 10px;
  padding: 5px;
  width: 100%;
  font-size: 20px;
  border: none;
  background-color: #c0c0c0;
}

.title input {
  height: 30px;
  width: 365px;
  border: none;
  border-radius: 4px;
  background-color: #c0c0c0;
  margin: 5px;
}

.password {
  width: 75%;;
}

.password input {
  height: 30px;
  width: 365px;
  border: none;
  border-radius: 4px;
  background-color: #c0c0c0;
  margin: 5px;
}