.App {
  min-height: 100vh;
}

.lineBreak {
  border: 1px solid #4b4b4b;
}

.nav {
  height: 7%;
  width: 100vw;
  top: 0;
  position: fixed;
  background-color: #5687a8;
  z-index: 1;
}

.container {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.generator {
  background: #3f3f3f;
  border-radius: 7px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.753);
  padding: 20px;
  height: 100%;
  margin-top: 10%;
}

.generator__header {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.generator__password {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  line-height: 2.5;
  padding-left: 8px;
  color: #fff;
  height: 46px;
  margin-bottom: 20px;
  text-align: center;
}

.copy__btn {
  position: absolute;
  background: #5687a8;
  color: #fff;
  border: none;
  height: 100%;
  width: 11%;
  cursor: pointer;
  top: 0;
  right: 0;
}

.generator__btn {
  background: #5687a8;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 7px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 1%;
}

.form-group .switch {
  margin-bottom: 1%;
}

.form-group label {
  margin-top: .75%;
}


#password-strength {
  width: 100px;
  color:#5687a8;
}

.savedPasswords {
  display: flex;
  margin-top: 2%;
}

.savedPasswords button {
  margin-right: auto;
  height: 25px;
}

.savedPasswords .group{
  margin-left: auto;
}

.title input {
  height: 30px;
  width: 365px;
  border: none;
  border-radius: 4px;
  background-color: #3f3f3f;
  color: #fff;
  margin: 5px;
  text-align: center;
}

.password {
  width: 75%;
}

.password input {
  height: 30px;
  width: 365px;
  border: none;
  border-radius: 4px;
  background-color: #3f3f3f;
  color: #fff;
  margin: 5px;
  text-align: center;
}

::placeholder {
  color: rgba(255, 255, 255, 0.568);
  padding-left: 6px;
}

@media (max-width: 1500px) {
  .generator {
    margin-top: 12.5%;
  }

}

@media (max-width: 1300px) {
  .generator {
    margin-top: 15%;
  }

}

@media (max-width: 1075px) {
  .generator {
    margin-top: 18%;
  }

}

@media (max-width: 850px) {
  .generator {
    margin-top: 20%;
  }
  .container {
    width: 80vw;
  }

}

@media (max-width: 735px) {
  .generator {
    margin-top: 25%;
  }

}

@media (max-width: 600px) {
  .generator {
    margin-top: 30%;
  }

}