.App {
  min-height: 100vh;
  background: #000000;
  ;
}

.container {
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator {
  background: #3f3f3f;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.3);
  padding: 20px;
}

#password-strength {
  width: 40%;
  color:#5687a8;
}

.generator__header {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.generator__password {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  padding: 13px 10px;
  color: #fff;
  height: 46px;
  margin-bottom: 15px;
}

.copy__btn {
  position: absolute;
  background: #5687a8;
  color: #fff;
  border: none;
  height: 100%;
  width: 20%;
  padding: 10px;
  cursor: pointer;
  top: 0;
  right: 0;
}

.generator__btn {
  background: #5687a8;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}